{# Main Section configuration#}
{% for key, value in traefik_config.main_section.iteritems() %}
  {{ key }} = {{ value }}
{% endfor %}

{# Entry points configuration #}
{% if traefik_config.entryPoints.http is defined or traefik_config.entryPoints.https is defined %}
  [entryPoints]
  {% if traefik_config.entryPoints.http is defined %}
    [entryPoints.http]
    {% if traefik_config.entryPoints.http.address is defined %}
      address = {{ traefik_config.entryPoints.http.address }}
    {% endif %}

    {% if traefik_config.entryPoints.http.auth is defined %}
    [entryPoints.http.auth.basic]
      users = [
        {% for entry in traefik_config.entryPoints.http.auth %}
          "{{ entry }}",
        {% endfor %}
      ]
    {% endif %}

    {% if traefik_config.entryPoints.http.redirect is defined %}
    [entryPoints.http.redirect]
      {% if traefik_config.entryPoints.http.redirect.entryPoint is defined %}
        entryPoint = {{ traefik_config.entryPoints.http.redirect.entryPoint }}
      {% endif %}
      {% for regex in traefik_config.entryPoints.http.redirect.regex %}
        regex = {{ regex }}
        replacement = {{ traefik_config.entryPoints.http.redirect.replacement[loop.index0] }}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if traefik_config.entryPoints.https is defined %}
    [entryPoints.https]
    {% if traefik_config.entryPoints.https.address is defined %}
      address = {{ traefik_config.entryPoints.https.address}}
    {% endif %}

    [entryPoints.https.tls]
    {% if traefik_config.entryPoints.https.clietCAFiles is defined %}
      ClientCAFiles = [
        {% for ca_file in traefik_config.entryPoints.https.clietCAFiles %}
        {{ ca_file }},
        {% endfor %}
      ]
    {% endif %}

    {% if traefik_config.entryPoints.https.minVersion is defined %}
      MinVersion = {{ traefik_config.entryPoints.https.minVersion }}
    {% endif %}

    {% if traefik_config.entryPoints.https.chiperSuites is defined %}
      CipherSuites = [
        {% for cipher in traefik_config.entryPoints.https.chiperSuites %}
          {{chiper}},
        {% endfor %}
      ]
    {% endif %}

    {% if traefik_config.entryPoints.https.certificates is defined %}
      {% for certificate in traefik_config.entryPoints.https.certificates %}
        [[entryPoints.https.tls.certificates]]
        CertFile = {{ certificate.CertFile }}
        KeyFile = {{ certificate.KeyFile }}
      {% endfor %}
    {% endif %}

  {% endif %}

{% else %}
  [entryPoints]
    [entryPoints.http]
    address = ':80'
{% endif %}

{# Retry configuration #}
{% if traefik_config.retry is defined %}
  [retry]

    {% for key, value in traefik_config.retry.iteritems() %}
      {{ key }} = {{ value }}
    {% endfor %}
{% endif %}

{# Lets enctrypt configuration #}
{% if traefik_config.lets_encrypt is defined %}
  [acme]

  {% for key, value in traefik_config.lets_encrypt.iteritems() %}
    {% if key is not equalto 'domains' %}
      {{ key }} = {{ value }}
    {% endif %}
  {% endfor %}

  {% for domain in traefik_config.lets_encrypt.domains %}
    [[acme.domains]]
      {% for key, value in domain.iteritems() %}
        {{ key }} = {{ value }}
      {% endfor %}
  {% endfor %}

{% endif %}

{# File configuration #}
{% if traefik_config.file is defined %}
  [file]
  {% for key,value in traefik_config.file.iteritems() %}
    {{ key }} = {{ value }}
  {% endfor %}
{% endif %}

{# API Backend configuration #}
{% if traefik_config.api_backend is defined %}
  [web]
  address = {{ traefik_config.api_backend.address }}

  {% if traefik_config.api_backend.CertFile is defined %}
    CertFile = {{ traefik_config.api_backend.CertFile }}
  {% endif %}

  {% if traefik_config.api_backend.KeyFile is defined %}
    KeyFile = {{ traefik_config.api_backend.KeyFile }}
  {% endif %}

  {% if traefik_config.api_backend.ReadOnly is defined %}
    ReadOnly = {{ traefik_config.api_backend.ReadOnly }}
  {% endif %}

  {% if traefik_config.api_backend.auth_basic is defined %}
    [web.auth.basic]
    users = [
    {% for entry in traefik_config.api_backend.auth_basic %}
      {{ entry }},
    {% endfor %}
    ]
  {% endif %}

  {% if traefik_config.api_backend.auth_digest %}
  [web.auth.digest]
  users = [
    {% for entry in traefik_config.api_backend.auth_digest %}
      {{ entry }},
    {% endfor %}
  ]
  {% endif %}

{% endif %}

{# Docker configuration #}
{% if traefik_config.docker is defined %}
  {% for key, value in traefik_config.docker.iteritems() %}
    {% if key is not equalto "tls" %}
      {{ key }} = {{ value }}
    {% endif %}
  {% endfor %}

  {% for key, value in traefik_config.docker.tls.iteritems() %}
    {{ key }} = {{ value }}
  {% endfor %}
{% endif %}
