################################################################
# Main Secton
################################################################
{% for key, value in traefik_config.main_section.iteritems() %}
  {% if value is string %}
    {{ key }} = "{{ value }}"
  {% else %}
    {{ key }} = {{ value }}
  {% endif %}
{% endfor %}

################################################################
# Endpoint configuration
################################################################
{% if traefik_config.entryPoints.http is defined or traefik_config.entryPoints.https is defined %}
  {% include "traefik/entry_points.j2" %}
{% endif %}

################################################################
# Retry configuration
################################################################
{% if traefik_config.retry is defined %}
  {% include "traefik/retry.j2" %}
{% endif %}

################################################################
# Let's encrypt
################################################################
{% if traefik_config.lets_encrypt is defined %}
  {% include "traefik/lets_encrypt.j2" %}
{% endif %}

################################################################
# File Configuration
################################################################
{% if traefik_config.file_backend is defined %}
  {% include "traefik/file.j2" %}
{% endif %}

################################################################
# API Backend configuration
################################################################
{% if traefik_config.api_backends is defined %}
  {% include "traefik/api_backends.j2" %}
{% endif %}

################################################################
# Docker configuration backend
################################################################
{% if traefik_config.docker is defined %}
  {% include "traefik/backends/docker.j2" %}
{% endif %}

################################################################
# Mesos/Marathon configuration backend
################################################################
{% if traefik_config.marathon is defined %}
  {% include "traefik/backends/marathon.j2" %}
{% endif %}

################################################################
# Mesos configuration backend
################################################################
{% if traefik_config.mesos is defined %}
  {% include "traefik/backends/mesos.j2" %}
{% endif %}

################################################################
# Kubernetes Ingress configuration backend
################################################################
{% if traefik_config.kubernetes is defined %}
  {% include "traefik/backends/kubernetes.j2" %}
{% endif %}

################################################################
# Consul KV configuration backend
################################################################
{% if traefik_config.consul is defined %}
  {% include "traefik/backends/consul.j2" %}
{% endif %}

################################################################
# Consul Catalog configuration backend
################################################################
{% if traefik_config.consulCatalog is defined %}
  {% include "traefik/backends/consulCatalog.j2" %}
{% endif %}

################################################################
# Etcd configuration backend
################################################################
{% if traefik_config.etcd is defined %}
  {% include "traefik/backends/etcd.j2" %}
{% endif %}

################################################################
# Zookeeper configuration backend
################################################################
{% if traefik_config.zookeeper is defined %}
  {% include "traefik/backends/zookeeper.j2" %}
{% endif %}

################################################################
# BoltDB configuration backend
################################################################
{% if traefik_config.boltdb is defined %}
  {% include "traefik/backends/boltdb.j2" %}
{% endif %}
