[Unit]
Description=Traefik Load Balancer

[Service]
Type=simple
ExecStart={{ traefik_binary_path }}/traefik --configFile={{ traefik_config_file }}
ExecStop={{ traefik_binary_path }}/traefik

[Install]
WantedBy={{ traefik_sysd_runlevel }}
