[Unit]
Description=Traefik Load Balancer

[Service]
Type=notify
ExecStart={{ traefik_binary_path }}/traefik --configFile={{ traefik_config_file }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=65536
Restart=on-failure

[Install]
WantedBy={{ traefik_sysd_runlevel }}
